.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ProgressContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
