.ContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px 0px 0px 10px;
}

.Title {
  font-family: "Founders Grotesk Text";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #2c272d;
}
.Model {
  font-family: "Founders Grotesk Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  /* Text: Secondary */

  color: #666666;
}
/* NAME */

/* mobile/body/body 1 - medium */

/* or 129% */

/* Text: Primary */
